*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    width: 40%;
    height: 50vh;
    border: 3px dotted #73AD21;
    padding-top: 15px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 18px;    
}

h1{
    color: #4CAF50;
    text-transform: uppercase;
    font-size: 35px;
}

form {
    padding-top: 60px;    
}

#age{
    height: 40px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;   
}

#button{
    height: 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 15px;
    width: 300px;
    box-shadow: 3px 2px 2px #3a943d;  
}

#button:hover{
    background-color:#3a943d;
}

#year {
    padding-top: 10px;
    height: 30px;
    width: 350px;
    color: red;    
}

#currentYear{
    height: 30px;
    width: 300px;
    padding: 10px;
}

